<template>
    <style scoped>
        * {
          font-family: 'Raleway' Arial;
        }

        .curriculum {
          width: 720px;
          padding: 40px;
          background-color: white;
          text-align: left;
        }

        @media screen {
          .curriculum {
            box-shadow: 1px 1px 2px 1px grey;
            border-radius: 2px;
            margin-top: 20px;
            margin-bottom: 20px;
          }
        }

        .bottom {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
        .bottom v-section {
          width: 100%;
        }
    </style>
    <div class="curriculum">
        <v-contact :json="JSON.stringify(contact)"></v-contact>
        <v-infobar class="academic" :black="education.title" :white="education.institute"></v-infobar>
        <v-section name="Job Experiences">
            <span slot="slot">
                <v-experience :key="experience.company" v-for="experience in experiences" :json='JSON.stringify(experience)'></v-experience>
            </span>
        </v-section>
        <v-section name="Knowledges">
            <span slot="slot">
                <v-knowledge :key="knowledge.name" v-for="knowledge in knowledges" :json="JSON.stringify(knowledge)"></v-knowledge>
            </span>
        </v-section>
        <div class="bottom">
            <v-section name="Languages">
            <span slot="slot">
                <v-knowledge :key="knowledge.name" v-for="knowledge in languages" :json="JSON.stringify(knowledge)"></v-knowledge>
            </span>
            </v-section>
            <v-section name="Links">
            <span slot="slot">
                <v-knowledge :key="link.name" v-for="link in links" :json="JSON.stringify(link)"></v-knowledge>
            </span>
            </v-section>
        </div>
    </div>
</template>
